# Dependencies
node_modules/

# Build output
unpackage/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# HBuilderX / uni-app
.hbuilderx/
#接口文档
小程序模块前端接口文档.md


